<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" requirePermission="false" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="oracle.manageddataaccess.client"
      type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
  </configSections>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="C:\Feedmanager\Logs\AuroraCommerce\ALog_%date{yyyyMMddHHss}.txt"/>
      <param name="AppendToFile" value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <param name="RollingStyle" value="Date"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="2"/>
      <maximumFileSize value="1MB"/>
      <staticLogFileName value="true"/>
      <param name="DatePattern" value="yyyyMMdd"/>
      <param name="StaticLogFileName" value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
      </layout>
    </appender>
    <logger name="LogFileAppender">
      <appender-ref ref="LogFileAppender"/>
    </logger>
    <root>
      <level value="ALL"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
  </log4net>
  <appSettings>
    <add key="AuroraCommerce.UserName" value=""/>
    <add key="AuroraCommerce.Password" value=""/>
    <add key="AuroraCommerce.Key" value="BDELJSK236298IUTKGFKSKFDKYSODSJS"/>
    <add key="AuroraCommerce.OrderGetAPI" value="http://api.demo.auroracommerce.com/1.4/OrderGet"/>
    <!--<add key="OracleMCRMDbConnection" value="Data Source=10.102.28.23:1521/MCRMSTG;Persist Security Info=True;User ID=SAMPATH_BODDULA;Password=Euanthe"/>-->
    <!--<add key="OracleMCRMDbConnection" value="user id=ORABATCH;password=MCRMbatch456;data source=10.101.28.23:1521/MCRM" />-->
    <add key="OracleMCRMDbConnection" value="user id=saikumar_peri;password=Praxidike;data source=10.102.28.23:1521/MCRMSTG"/>
    <add key="Xmlpath" value="C:\Users\lava.kumar\Desktop\sample.xml"/>
    <add key="Outputpath" value="C:\Users\lava.kumar\Desktop\Output\"/>
    <!--<add key="ulapi" value="https://api.ultimateoutdoors.com/1.4/OrderGet"/>
    <add key="ulTOKEN" value="kMfbdLrBPuFPVgAXID3w8lrdtOMxybDg"/>
    <add key="miapi" value="https://api.millets.co.uk/1.4/OrderGet"/>
    <add key="miTOKEN" value="eMT0QZgiIGvdUFVUwmIw3ewQWvzGZRE3"/>
    <add key="blapi" value="https://api.blacks.co.uk/1.4/OrderGet"/>
    <add key="blTOKEN" value="vZw1VqXaxuafmZXTUhSToQburH4corhE"/>
    <add key="goapi" value="https://api.gooutdoors.co.uk/1.5/OrderGet"/>
    <add key="goTOKEN" value="BDELJSK236298IUTKGFKSKFDKYSODSJS"/>-->
    <add key="EmailUsername" value="azure_6a4fde0046b7809935fbb5fee56639f7@azure.com"/>
    <add key="EmailPassword" value="hbKuagL7Hbf7pB82"/>
    <add key="LogPath" value="C:\Feedmanager\Logs\AuroraCommerce\"/>
    <add key="Mails" value="lava.kumar@jdplc.com"/>
    <add key="Responelimit" value="25000"/>
    <add key="Responeinterval" value="PT900S"/> <!--seconds wise interval PT900S--><!--Day wise interval P1D--><!--Year wise interval P1Y-->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider"
          type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider"
          type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
        type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.19.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>